*{
	margin: 0;
	padding: 0;
}
body{
	font-size:10px;
	background: #eee;
}
.container{
	width: 1300px;
	border: 1px solid #ddd;
	margin: auto;
	overflow: auto;
	padding: 5px;
	background: #fff;
}
.rightbox{
	width: 300px;
	min-height: 700px;
	overflow: auto;
	border: 1px solid #eee;
}
.leftbox{
	width: 300px;
	min-height: 700px;
	overflow: auto;
	border: 1px solid #eee;
}
.lfloat{
	float: left;
}
.rfloat{
	float:right;
}
.clearfix{
	clear: both;
}